body {
  font-family: verdana, sans-serif;
  margin: 1em 10%;
  color: #333;
}

.float-right {
  float: right;
}

.detail_header {
  text-align: right;
  font-weight: bold;
  background-color: #ccf;
  width: 20%;
}

.detail_value {
  background-color: #ff9;
}